$font-title: 'Anton', sans-serif;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;
$headercolor: #331533;
$backgroundcolor: #d9b2b3;
$layoutbackground: #fff;
$color: #723073;
$maxwidth: 1140;
